<form>
    <div class="mb-3">
      <label for="Name" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="Name"
        placeholder="Nombre"
        [(ngModel)]="movie.name"
        name="Name"
      />
    </div>
    <div class="mb-3">
      <label for="Gender" class="form-label">Genero</label>
      <select
        class="form-select"
        name="Gender"
        id="Gender"
        [(ngModel)]="movie.gender"
      >
        <option value="terror">Terror</option>
        <option value="aventura">Aventura</option>
        <option value="thriller">Thriller</option>
        <option value="comedia">Comedia</option>
      </select>
    </div>
    <div class="mb-3">
        <label for="Release_Year" class="form-label">Fecha de lanzamiento</label>
        <input
        type="date"
          class="form-control"
          name="Release_Year"
          id="Release_Year"
          [(ngModel)]="movie.release_Year"
        />
      </div>
      <div class="mb-3">
        <label for="Duration" class="form-label">Duraci&oacute;n</label>
        <input
        type="time"
          class="form-control"
          name="Duration"
          id="Duration"
          [(ngModel)]="movie.duration"
        />
      </div>
    <div class="mb-3 d-flex justify-content-between">
      <button
        type="button"
        class="btn btn-success"
        (click)="saveMovie()"
      >
        Guardar
      </button>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="!movie.id"
        (click)="updateMovie()"
      >
        Actualizar
      </button>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col"><i class="bi bi-calendar-check"></i></th>
        <th scope="col"><i class="bi bi-alarm-fill"></i></th>
        <th scope="col">Genero</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mov of movies">
        <th scope="row">{{mov.id}}</th>
        <td>{{mov.name}}</td>
        <td>{{mov.release_Year | date: 'dd/MM/yyyy'}}</td>
        <td>{{mov.duration}}</td>
        <td>{{mov.gender}}</td>
        <td class="d-flex justify-content-between">
          <button
            type="button"
            class="btn btn-primary"
            (click)="getMovie(mov.id!!)"
          >
            <i class="bi bi-eye-fill"></i>
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteMovie(mov.id!!)"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
