<form [formGroup]="movieForm">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Nombre"
        formControlName="name"
        name="name"
      />
      <ng-container *ngFor="let error of errorMessages.name">
        <div
          class="error-message"
          *ngIf="
            movieForm.get('name')?.hasError(error.type) &&
            movieForm.get('name')?.touched
          "
        >
          <p>{{ error.message }}</p>
        </div>
      </ng-container>
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">Genero</label>
      <select
        class="form-select"
        name="gender"
        id="gender"
        formControlName="gender"
      >
        <option value="terror">Terror</option>
        <option value="aventura">Aventura</option>
        <option value="thriller">Thriller</option>
        <option value="comedia">Comedia</option>
      </select>
    </div>
    <div class="mb-3">
        <label for="release_Year" class="form-label">Fecha de lanzamiento</label>
        <input
        type="date"
          class="form-control"
          name="release_Year"
          id="release_Year"
          formControlName="release_Year"
        />
        <ng-container *ngFor="let error of errorMessages.release_Year">
          <div
            class="error-message"
            *ngIf="
              movieForm.get('release_Year')?.hasError(error.type) &&
              movieForm.get('release_Year')?.touched
            "
          >
            <p>{{ error.message }}</p>
          </div>
        </ng-container>
      </div>
      <div class="mb-3">
        <label for="duration" class="form-label">Duraci&oacute;n</label>
        <input
        type="time"
          class="form-control"
          name="duration"
          id="duration"
          formControlName="duration"
        />
        <ng-container *ngFor="let error of errorMessages.duration">
          <div
            class="error-message"
            *ngIf="
              movieForm.get('duration')?.hasError(error.type) &&
              movieForm.get('duration')?.touched
            "
          >
            <p>{{ error.message }}</p>
          </div>
        </ng-container>
      </div>
    <div class="mb-3 d-flex justify-content-between">
      <button
        type="button"
        class="btn btn-success"
        [disabled]="!movieForm.valid"
        (click)="saveMovie()"
      >
        Guardar
      </button>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="!id || !movieForm.valid"
        (click)="updateMovie()"
      >
        Actualizar
      </button>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col"><i class="bi bi-calendar-check"></i></th>
        <th scope="col"><i class="bi bi-alarm-fill"></i></th>
        <th scope="col">Genero</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mov of movies">
        <th scope="row">{{mov.id}}</th>
        <td>{{mov.name}}</td>
        <td>{{mov.release_Year | date: 'dd/MM/yyyy'}}</td>
        <td>{{mov.duration}}</td>
        <td>{{mov.gender}}</td>
        <td class="d-flex justify-content-between">
          <button
            type="button"
            class="btn btn-primary"
            (click)="setMovie(mov)"
          >
            <i class="bi bi-eye-fill"></i>
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteMovie(mov.id!!)"
          >
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
