<div class="container text-center">
  <h1>Directors And Them Movies</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <form [formGroup]="directorForm">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Nombre"
            name="name"
            formControlName="name"
          />
          <ng-container *ngFor="let error of errorMessages.name">
            <div
              class="error-message"
              *ngIf="
                directorForm.get('name')?.hasError(error.type) &&
                directorForm.get('name')?.touched
              "
            >
              <p>{{ error.message }}</p>
            </div>
          </ng-container>
        </div>
        <div class="mb-3">
          <label for="nationality" class="form-label">Nacionalidad</label>
          <select
            class="form-select"
            name="nationality"
            id="nationality"
            formControlName="nationality"
          >
            <option value="MX">Mexicana</option>
            <option value="EU">Estadounidense</option>
            <option value="SP">Española</option>
            <option value="FR">Francesa</option>
          </select>
        </div>
        <ng-container *ngFor="let error of errorMessages.nationality">
          <div
            class="error-message"
            *ngIf="
              directorForm.get('nationality')?.hasError(error.type) &&
              directorForm.get('nationality')?.touched
            "
          >
            <p>{{ error.message }}</p>
          </div>
        </ng-container>
        <div class="mb-3">
          <label for="age" class="form-label">Edad</label>
          <input
            type="number"
            class="form-control"
            id="age"
            name="age"
            placeholder="18"
            min="18"
            formControlName="age"
          />
          <ng-container *ngFor="let error of errorMessages.age">
            <div
              class="error-message"
              *ngIf="
                directorForm.get('age')?.hasError(error.type) &&
                directorForm.get('age')?.touched
              "
            >
              <p>{{ error.message }}</p>
            </div>
          </ng-container>
        </div>
        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="active"
            name="active"
            formControlName="active"
          />
          <label for="active" class="form-check-label">Activo</label>
          <ng-container *ngFor="let error of errorMessages.active">
            <div
              class="error-message"
              *ngIf="
                directorForm.get('active')?.hasError(error.type) &&
                directorForm.get('active')?.touched
              "
            >
              <p>{{ error.message }}</p>
            </div>
          </ng-container>
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <button
            type="button"
            class="btn btn-success"
            [disabled]="directorForm.invalid"
            (click)="saveDirector()"
          >
            Guardar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="!id || directorForm.invalid"
            (click)="updateDirector()"
          >
            Actualizar
          </button>
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nacionalidad</th>
            <th scope="col">Edad</th>
            <th scope="col">Activo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dir of directors">
            <th scope="row">{{ dir.id }}</th>
            <td>{{ dir.name }}</td>
            <td>{{ dir.nationality }}</td>
            <td>{{ dir.age }}</td>
            <td>{{ dir.active ? "SI" : "NO" }}</td>
            <td class="d-flex justify-content-between">
              <a
                type="button"
                class="btn btn-primary"
                [routerLink]="['./', dir.id!!, 'movies']"
                (click)="setDirector(dir)"
              >
                <i class="bi bi-eye-fill"></i>
              </a>
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteDirector(dir.id!!)"
              >
                <i class="bi bi-trash-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6" *ngIf="router.url != '/'">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
